@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* ========== LIGHT THEME ========== */
  --color-bg-main: hsl(0, 0%, 98%); /* Gray 50 */
  --color-bg-card: hsl(0, 0%, 98%); /* Gray 50 */

  --color-text-primary: hsl(235, 19%, 35%); /* Navy 850 */
  --color-text-secondary: hsl(236, 9%, 61%); /* Gray 600 */

  --color-border: hsl(233, 11%, 84%); /* Gray 300 */
  --color-divider: hsl(234, 39%, 85%); /* Purple 300 */
  --color-primary-check-gradient: linear-gradient(
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

body {
  background-color: var(--color-bg-main);
  font-family: "Josefin Sans", sans-serif;
}

@theme {
  /* ========== PRIMARY ========== */
  --color-primary-blue-500: hsl(220, 98%, 61%);
  --color-primary-check-gradient: linear-gradient(
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* ========== LIGHT THEME ========== */
  --color-bg-main: hsl(0, 0%, 98%); /* Gray 50 */
  --color-bg-card: hsl(0, 0%, 98%); /* Gray 50 */

  --color-text-primary: hsl(235, 19%, 35%); /* Navy 850 */
  --color-text-secondary: hsl(236, 9%, 61%); /* Gray 600 */

  --color-border: hsl(233, 11%, 84%); /* Gray 300 */
  --color-divider: hsl(234, 39%, 85%); /* Purple 300 */
  --color-hover: hsl(236, 33%, 92%); /* Purple 100 */

  --bg-image-light: url("../public/images/icon-check.svg");
  --bg-desktop: url("../public/images/bg-desktop-light.jpg");
  --bg-mobile: url("../public/images/bg-mobile-light.jpg");

  --img-check: "src/assets/icon-check.svg";
  --img-toggle-theme: "../public/images/icon-moon.svg";
}

/* ========== DARK THEME ========== */
.dark {
  --color-bg-main: hsl(235, 21%, 11%); /* Navy 950 */
  --color-bg-card: hsl(235, 24%, 19%); /* Navy 900 */

  --color-text-primary: hsl(234, 39%, 85%); /* Purple 300 */
  --color-text-secondary: hsl(236, 9%, 61%); /* Gray 600 */

  --color-border: hsl(237, 14%, 26%); /* Purple 800 */
  --color-divider: hsl(233, 14%, 35%); /* Purple 700 */

  --color-hover: hsl(236, 33%, 92%); /* Purple 100 */
  --color-text-muted: hsl(235, 16%, 43%); /* Purple 600 */

  --bg-desktop: url("../public/images/bg-desktop-dark.jpg");
  --bg-mobile: url("../public/images/bg-mobile-dark.jpg");

  --img-toggle-theme: "../public/images/icon-sun.svg";
}

@layer base {
  .summarybtn {
    @apply text-text-secondary text-[0.85rem] font-bold cursor-pointer hover:text-text-primary;
  }
}

@layer components {
  .check-btn {
    @apply w-[1.4rem] h-[1.4rem] border border-border rounded-full p-1 cursor-pointer;
  }
  .checked_btn {
    @apply p-0.5 bg-[url('../public/images/icon-check.svg'),var(--color-primary-check-gradient)] bg-cover;
  }

  /* .header-bg {
    background-image: url(../public/images/bg-desktop-light.jpg);
    background-size: cover;
  } */

  .header-bg {
    /* @apply bg-[url('../public/images/bg-desktop-light.jpg')] bg-cover; */
  }
}
